{% extends "base.html" %}

{% block maincontent %}
    <div class="image-activite"><img src="{{STATIC_URL}}img/img_activite/placeHolder-FicheEvent_05.jpg"></div><h2 class="titre-fiche">Titre here</h2><p class="texte-fiche">Description de l'activité</p>


<div data-type="horizontal" data-role="controlgroup" class="suggestion">
<a href="index.html" data-role="button">Restos</a>
<a href="index.html" data-role="button">Touristique</a>
<a href="index.html" data-role="button">Hotel</a>
</div><h2 class="similaire-header">Vous aimerez aussi:</h2>
<div class="ui-grid-b">
    <div class=" similaire-image ui-block-a"><img src="{{STATIC_URL}}img/img_activite/placeHolder-FicheEvent_13.jpg"></div>
    <div class=" similaire-image ui-block-b"><img src="{{STATIC_URL}}img/img_activite/placeHolder-FicheEvent_11.jpg"></div>
    <div class="similaire-image ui-block-c"><img src="{{STATIC_URL}}img/img_activite/placeHolder-FicheEvent_09.jpg"></div>
</div><!-- /grid-b -->


    
    
    <!-- /content --> 
{% endblock %}
