<!DOCTYPE html>
<html>
<head>
<title>Recherche</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="{{STATIC_URL}}js/main.js"></script>
<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
<script src="{{STATIC_URL}}/js/mapUtils.js"></script>
<script src="{{STATIC_URL}}/js/OpenLayers-2.11/OpenLayers.mobile.js"></script>
<script src="{{STATIC_URL}}/js/customOLClass/ArrondKML.js"></script>
<script src="{{STATIC_URL}}/js/customOLClass/QuartKML.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.4&sensor=false"></script>

</head>
<body>

<div data-role="page" class="{{page_id}}">
    <div data-role="header" id="entete">

        <div><a href="javascript:history.back();" id="boutonHeaderBack" class="bouton retour">Retour</a></div>
        <h1>ouss-QC</h1>
        <div>
            {% if result_display_mode %}
            <div><a href="/{{result_display_mode}}/" id="boutonHeaderListe" class="bouton {{result_display_mode}}">Liste</a></div>
            {% endif %}

            {% if not hide_search_button %}
            <div><a href="/recherche/" id="boutonHeaderSearch" class="bouton recherche">Recherche</a></div>
            {% endif %}
        </div>
    </div>
    <!-- /header -->

{% block maincontent %}
{% endblock %}
    
</div>
<!-- container --> 

</body>
</html>
