{% extends "base.html" %}

{% block maincontent %}

    {% comment %}
    <script src="{{STATIC_URL}}lib/AnythingSlider/js/jquery.anythingslider.min.js"></script>
    <script src="{{STATIC_URL}}lib/AnythingSlider/js/jquery.anythingslider.fx.min.js"></script>
    <script src="{{STATIC_URL}}js/home.js"></script>
    <script src="{{STATIC_URL}}lib/AnythingSlider/css/anythingslider.css"></script>
    {% endcomment %}
    <div id="slider" class="conteneur-image-accueil">

        <a href="/activite/{{e.id}}/">
        <span class="legende-accueil">
            <p>{{e.TITRE_EVENEMENT}}</p>
            <img src="{{STATIC_URL}}/img/img_ui/strock-arrow.png">
        </span>
        <img class="photo-accueil" src="{{STATIC_URL}}/img/img_activite/bike.jpg" />
        </a>

    </div>

    <div class="ui-grid-a">
        <div class="ui-block-a conteneur-image-accueil ">
            <a href="/activite/{{evenements.1.id}}/">
            <span class="legende-accueil small">
            <p>{{evenements.1.TITRE_EVENEMENT}}</p>
            <img src="{{STATIC_URL}}/img/img_ui/strock-arrow.png"></span>
            <img class="photo-accueil haut"src="{{STATIC_URL}}/img/img_activite/crowdJaune.jpg">
            </a>
        </div>

        <div class="ui-block-b conteneur-image-accueil ">
            <a href="/activite/{{evenements.2.id}}/">
            <span class="legende-accueil small">
            <p>{{evenements.2.TITRE_EVENEMENT}}</p>
            <img src="{{STATIC_URL}}/img/img_ui/strock-arrow.png">
            </span><a href="/activite/{{evenements.2.id}}/">
            <img class="photo-accueil haut"src="{{STATIC_URL}}/img/img_activite/crowdBleu.jpg"></a>
            </a>
        </div>
    </div><!-- /grid-a -->
    

{% endblock %}
