{% extends "base.html" %}

{% block maincontent %}

	<script>
		var mapObject = {
                layers : {
                    kmlArrondLayer : null,
                    kmlQuartLayer : null,
                    geolocateLayer : null,
                    eventLayer : null
                },
                map : null
            };

            var geolocateObject;
            var firstGeolocation;

            var qsParm = new Array();
            qsParm['type'] = "none";
            qsParm['field'] = "none";
            qsParm['geocode'] = false;
            qs();
	</script>
	
	<div data-role="content" id="map">

    {% for e in evenements %}
	
		{{e.LATITUDE}}
		{{e.LONGITUDE}}
    
    {% endfor %}
	
	</div>

{% endblock %}
