{% extends "base.html" %}

{% block maincontent %}

    <form action="/liste/" method="post" id="searchForm">

        <label for="quartier">Catégorie</label>
        <select name="categorie">
        {% for categorie in categories %}
        <option value="">{{categorie.UID}}</option>
        {% endfor %}
        </select>

        <label for="arrondissement">Arrondissement</label>
        <select name="arrondissement" size="1" id="arrondissement" onchange="loadQuartier(this);">
              <option value="#">Choisissez un arrondissement</option>
              {% for arr in ARR %}
              <option value="{{arr}}">{{arr}}</option>
              {% endfor %}
        </select>
        <label for="quartier">Quartier</label>
        <select name="quartier" id="quartier">
			<option value="#">Choisissez un quartier</option>
        </select>

        <label for="quartier">Près de moi</label>
       <input type="range" name="distance" id="quartier" value="0" min="0" max="10" step="1" />
        
        <input type="submit"data-theme="b" name="rechercher" id="rechercher" value="Rechercher" onclick="saveSearchParam();">
    </form>

{% endblock %}
