{% extends "base.html" %}

{% block maincontent %}

{% comment %}
<select name="select" id="select_page" onchange="changerPage(this)">
<option>Choisissez un conseil de quartier</option>
<optgroup label="Beauport">
<option value="chutesmontmorency/index.aspx">Chutes-Montmorency</option>
<option value="vieuxmoulin/index.aspx">Vieux-Moulin</option>
</optgroup>
<optgroup label="Charlesbourg">
<option value="desjesuites/index.aspx">Jésuites</option>
<option value="notredamelaurentides/index.aspx">Notre-Dame-des-Laurentides</option>
</optgroup>
<optgroup label="La Cité-Limoilou">
<option value="lairet/index.aspx">Lairet</option>
<option value="maizerets/index.aspx">Maizerets</option>
<option value="montcalm/index.aspx">Montcalm</option>
<option value="saintjeanbaptiste/index.aspx">Saint-Jean-Baptiste</option>
<option value="saintroch/index.aspx">Saint-Roch</option>
<option value="saintsacrement/index.aspx">Saint-Sacrement</option>
<option value="saintsauveur/index.aspx">Saint-Sauveur</option>
<option value="vieuxquebec/index.aspx">Vieux-Québec–Cap-Blanc–Colline-Parlementaire </option>
<option value="vieuxlimoilou/index.aspx">Vieux-Limoilou</option>

</optgroup>
<optgroup label="La Haute-Saint-Charles">  
<option value="deschatels/index.aspx">Châtels</option> 
<option value="lacsaintcharles/index.aspx">Lac-Saint-Charles</option>
<option value="loretteville/index.aspx">Loretteville</option>
<option value="saintemile/index.aspx">Saint-Émile</option>
<option value="valbelair/index.aspx">Val-Bélair</option>
</optgroup>
<optgroup label="Les Rivières">
<option value="dubergerlessaules/index.aspx">Duberger-Les Saules</option>
<option value="neufchatelestlebourgneuf/index.aspx">Neufchâtel-Est–Lebourgneuf</option>
<option value="vanier/index.aspx">Vanier</option>
</optgroup>
<optgroup label="Sainte-Foy–Sillery–Cap-Rouge">
<option value="aeroport/index.aspx">Aéroport</option>
<option value="caprouge/index.aspx">Cap-Rouge</option> 

<option value="citeuniversitaire/index.aspx">Cité-Universitaire</option>
<option value="plateau/index.aspx">Plateau</option>
<option value="pointesaintefoy/index.aspx">Pointe-de-Sainte-Foy</option>
<option value="saintlouis/index.aspx">Saint-Louis</option>
<option value="sillery/index.aspx">Sillery</option>

</optgroup>

</select>


{% for e in evenements %}
<div>
{{e.TITRE_EVENEMENT}}
</div>
{% endfor %}
{% endcomment %}

    <form action="/list/" method="post">

        <label for="quartier">Catégorie</label>
        <select name="categorie">
        {% for categorie in categories %}
        <option value="{{categorie.id}}">{{categorie.UID}}</option>
        {% endfor %}
        </select>

        <label for="arrondissement">Arrondissement</label>
        <select name="arrondissement" size="1" id="arrondissement">
              <option value="#">Choisissez un arrondissement</option>
              {% for arr in ARR %}
              <option value="">{{arr}}</option>
              {% endfor %}
        </select>
        <label for="quartier">Quartier</label>
        <select class="nice" name="quartier" id="quartier">
            <option  class="nice" value="Plateau">Plateau</option>
        </select>

<label for="quartier">Près de moi</label>
<select class="nice" name="distance" id="quartier">
    <option  class="nice" value="1">1 km</option>
    <option  class="nice" value="2">2 km</option>
    <option  class="nice" value="5">5 km</option>
    <option  class="nice" value="10">10 km</option>
</select>

        <input type="text" class="expand input-text" value="" placeholder="Entrez un mot clef">
        <input type="submit" name="rechercher" id="rechercher" value="Rechercher">
    </form>

{% endblock %}
