{% extends "base.html" %}

{% block maincontent %}

    <script src="{{STATIC_URL}}/js/main.js"></script>

    <form action="/list/" method="post">

        <label for="quartier">Catégorie</label>
        <select name="categorie">
        {% for categorie in categories %}
        <option value="">{{categorie.UID}}</option>
        {% endfor %}
        </select>

        <label for="arrondissement">Arrondissement</label>
        <select name="arrondissement" size="1" id="arrondissement">
              <option value="#">Choisissez un arrondissement</option>
              {% for arr in ARR %}
              <option value="{{forloop.counter0}}">{{arr}}</option>
              {% endfor %}
        </select>
        <label for="quartier">Quartier</label>
        <select name="quartier" id="quartier">
			<option value="#">Choisissez un quartier</option>
        </select>

        <label for="quartier">Près de moi</label>
        <select name="distance" id="quartier">
            <option value="0">Choisissez une distance</option>
            <option value="1">1 km</option>
            <option value="2">2 km</option>
            <option value="5">5 km</option>
            <option value="10">10 km</option>
        </select>

        <input type="text" class="expand input-text" value="" name="keywords" placeholder="Entrez un mot clef">
        <input type="submit" name="rechercher" id="rechercher" value="Rechercher">
    </form>

{% endblock %}
